<!DOCTYPE html>
<html>
    <head>
        <title>
            Jharkhand
        </title>
        <link rel="stylesheet" href="jharkhand.css">
    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Rock Garden </h1>
                    <h2> Jharkhand </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Jharkhand</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                        <img src="ranchi.jpg"> 
                        <h3> Ranchi </h3>
                        <p>  Ranchi is famous for its ethnic handicrafts and metal work, all of which are exhibited at Firayalal, one of the most popular shopping destinations for tribal souvenirs.  </p>
                    </div>    
                    <div class="cols-3">   
                        <img src="pathratu valley.jpg"> 
                        <h3> Pathratu Valley </h3>
                        <p> Patratu is a charming valley town which is popular amongst locals for its dam, which was built under the supervision of Sir Mokshagundam Visvesvaraya to cater to the water needs of nearby towns and villages. </p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="jagannath temple.jpg"> 
                        <h3> Jagannath Temple </h3>
                        <p> Puri's famous Jagannath Temple holds a prominent place of importance for devotees. It is one of the Char Dham pilgrimage sites in India, and is also well-known for the annual chariot festival or Rath Yatra.</p>
                    </div>
                    <div class="cols-3">  
                        <img src="tagore hill.jpg"> 
                        <h3> Tagore Hill </h3>
                        <p> This hill was named after the famous poet Mr. Rabindranath Tagore. It's a place of attraction for Jharkhand tourism due to its connection with great poet Rabindranath Tagore‌'s elder brother.</p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742876.0276290756!2d83.39059528276738!3d23.634713670804224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398b2386df480857%3A0x62c5b809eee29004!2sJharkhand!5e0!3m2!1sen!2sin!4v1618244321661!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            Facts of Jharkhand
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                    The literal meaning of the Jharkhand is Land of bushes, Jungles (Jhari – Bushes).
                                </li>
                                <li>
                                   Dhanbad is also known as India’s coal capital.
                                </li>
                                <li>
                                    Jamshedpur is the first planned industrial city of East Singhbhoom district.
                                </li>
                                <li>
                                    Main festivals include Karam festival which is quite popular among Oraon tribe. Other festivals include Vat Savitri and Teej.
                                </li>
                                <li>
                                    Deoghar is the ancient city of Jharkhand known for its temples.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Jharkhand.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="jharkhand.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State : Jharkhand</div>
                    </div>
                    <div class="mySlides">
                        <img src="ranchii.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State's Capital : Ranchi</div>
                    </div>
                    <div class="mySlides">
                        <img src="24districts.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> No. of districts of State : 24</div>
                    </div>
                    <div class="mySlides">
                        <img src="jamshedpur.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State's largest district : Jamshedpur </div>
                    </div>
                    <div class="mySlides">
                        <img src="hindi.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State's official language : Hindi </div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <!-- LAST SECTION -->
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title">
                            What are you waiting for??
                        </h1>
                        <p style="line-height: 1.2em; margin-top:-110px">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            If you love forests, then Jharkhand is the place for you and it is waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text"> <p style="color: white; margin-top:10px; font-weight: 1000; font-style:italic;"> Netarhat - Jharkhand </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>