<!DOCTYPE html>
<html>
    <head>
        <title>
            Andhra Pradesh
        </title>
        <link rel="stylesheet" href="andhra.css">

    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Rishikonda beach, Vishakhapatnam </h1>
                    <h2> Andhra Pradesh </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Andhra Pradesh</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                    <div class="cols-3-big">
                        <img src="Tirupati.jpg"> 
                        <h3> Tirupati </h3>
                        <p> Tirupati is in Chittoor district of Andhra Pradesh, India. It is most famous for its Sri Venkateswara Temple dedicated to Vishnu, also known as Balaji in North India and Govinda in South India. </p>
                    </div>
                    </div>    
                    <div class="cols-3">   
                        <img src="Vizag.jpg"> 
                        <h3> Vizag </h3>
                        <p> The second largest city of Andhra Pradesh, Visakhapatnam is famous for its burgeoning steel industry and is also home to an international port. But its scenic natural beauty proves that it is more than simply an industrial city.</p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="Araku Valley.jpg"> 
                        <h3> Araku Valley </h3>
                        <p> Araku Valley hill has the distinction of being the tallest hill in the state of Andhra Pradesh. Apart from being a beautiful hill station, Araku Valley is also famous for its rich coffee plantations.</p>
                    </div>
                    <div class="cols-3">  
                        <img src="Vijayawada.jpg"> 
                        <h3> Vijayawada </h3>
                        <p> Vijayawada is considered to be a sacred place for residing one of the most visited and famous temples of Andhra Pradesh and India, Kanaka Durga Temple of Hindu Goddess Durga. It also serves as the ritual host of Pushkaram (a river worshipping ritual in India) of River Krishna.</p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7861249.075257829!2d76.28003397313849!3d15.83026935890294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3546f8ae93d47f%3A0x33d1bbbe95adcd83!2sAndhra%20Pradesh!5e0!3m2!1sen!2sin!4v1618224002726!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            Facts of Andhra Pradesh
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                    The designer of the Indian National Flag was from Andhra Pradesh.
                                </li>
                                <li>
                                    Andhra Pradesh also boasts of India’s first ‘premier digital technology institute’.
                                </li>
                                <li>
                                     The state’s film industry holds the Guinness Record for the largest film production facility!.
                                </li>
                                <li>
                                    Amaravati, envisioned as the ‘People’s capital’, has a 2,000-year-old history. 
                                </li>
                                <li>
                                    It also holds the record for holding the world’s largest banyan tree.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Andhra Pradesh.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="AndhraPradesh.jpg" style="width:100%;">
                        <div class="caption"> State : Andhra Pradesh</div>
                    </div>
                    <div class="mySlides">
                        <img src="Vishakhapatnam.jpg" style="width:100%;">
                        <div class="caption"> State's Capital : Vishakhapatnam</div>
                    </div>
                    <div class="mySlides">
                        <img src="Vishakhapatnamm.jpg" style="width:100%;">
                        <div class="caption"> No. of districts of State : 13</div>
                    </div>
                    <div class="mySlides">
                        <img src="13districts.jpg" style="width:100%;">
                        <div class="caption"> State's largest district : Vishakhapatnam </div>
                    </div>
                    <div class="mySlides">
                        <img src="telugu.jpg" style="width:100%;">
                        <div class="caption"> State's official language : Telugu</div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title">
                            What are you waiting for??
                        </h1>
                        <p style="line-height:1.2em;">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            The temples and rivers of Andhra Pradesh are waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text"> <p style="font-weight:1000; font-style:italic"> Tenneti Park - Vishakhapatnam </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>