<!DOCTYPE html>
<html>
    <head>
        <title>
            Assam
        </title>
        <link rel="stylesheet" href="assam.css">
    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Majuli, Bramhaputra River </h1>
                    <h2> Assam </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Assam</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                        <img src="Kamakhaya temple.jpg"> 
                        <h3> Kamakhya temple </h3>
                        <p> This sacred temple in the heart of the capital city of Assam holds more than it meets the eye of the onlooker. The Kamakhya Temple had been built in reverence to Goddess Kamakhya or Sati, who was one of the numerous incarnations of Goddess Durga or Goddess Shakti. </p>
                    </div>    
                    <div class="cols-3">   
                        <img src="Kakochang waterfalls.jpg"> 
                        <h3> Kakochang waterfalls </h3>
                        <p> The Kakochang Waterfall is located 13 km from Bokakhat in the Golaghat District of Assam. It is a breathtaking waterfall that gushes down between coffee and rubber plantations of the district, creating an awe inspiring view and an unforgettable ambiance.</p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="orang national park.jpg"> 
                        <h3> Orang national park </h3>
                        <p> Orang National Park is known for its population of Rhino and Tiger. It is sometimes referred to as Mini Kaziranga. The National Park has now been renamed and is officially called the Rajiv Gandhi Orang National Park.</p>
                    </div>
                    <div class="cols-3">  
                        <img src="umananda island.jpg"> 
                        <h3> Umananda island </h3>
                        <p> It is visited mostly for its Shiva temple, the Umananda Temple, and is also home to a large population of golden langurs, an endangered species of primate. </p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670963.409007915!2d90.61272394092921!3d26.03600319964683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374516c94c312d63%3A0xd11a73bb736719fb!2sAssam!5e0!3m2!1sen!2sin!4v1618238422775!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            Facts of Assam
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                    Assam has its own state anthem.
                                </li>
                                <li>
                                   The state celebrates Bihu thrice.
                                </li>
                                <li>
                                    Guwahati is the real capital of Assam.
                                </li>
                                <li>
                                    This state is a food lovers’ haven.
                                </li>
                                <li>
                                    Assam is one of the most progressive states in the country.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Assam.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="Assam.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State : Assam</div>
                    </div>
                    <div class="mySlides">
                        <img src="dispur.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State's Capital : Dispur</div>
                    </div>
                    <div class="mySlides">
                        <img src="34districts.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> No. of districts of State : 34</div>
                    </div>
                    <div class="mySlides">
                        <img src="guwahati.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State's largest district : Guwahati </div>
                    </div>
                    <div class="mySlides">
                        <img src="bengalibodo.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State's official language : Bengali & Bodo</div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <!-- LAST SECTION -->
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title">
                            What are you waiting for??
                        </h1>
                        <p style="line-height:1.2em;">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            The temples and islands of Assam are waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text"> <p style="font-weight:1000; font-style:italic;"> Orang National Park - Assam </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>