<!DOCTYPE html>
<html>
    <head>
        <title>
            Tamil Nadu
        </title>
        <link rel="stylesheet" href="tamil.css">
    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Ooty </h1>
                    <h2> Tamil Nadu </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Tamil Nadu</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                        <img src="coimbatore.jpg"> 
                        <h3> Coimbatore </h3>
                        <p> A major hub for manufacturing, education and healthcare in Tamil Nadu, Coimbatore is among the fastest growing tier-II cities in India. </p>
                    </div>    
                    <div class="cols-3">   
                        <img src="MGRBeach.jpg"> 
                        <h3> Chennai </h3>
                        <p> Famous as the biggest cultural and economic centre down south, Chennai was earlier known as Madras. The city houses several Hindu temples, churches and museums. </p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="trichy.jpg"> 
                        <h3> Trichy </h3>
                        <p> Tiruchirappalli is one of the oldest inhabited cities in India. The archaeologically important town of Uraiyur, capital of the Early Cholas, is now a neighbourhood in Tiruchirappalli. </p>
                    </div>
                    <div class="cols-3">  
                        <img src="kanyakumari.jpg"> 
                        <h3> Kanyakumari </h3>
                        <p> Kanyakumari is the southernmost point of peninsular India and the meeting point of three oceans-the Bay of Bengal, the Arabian Sea and the Indian Ocean. </p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4013544.202693599!2d76.04294215300122!3d10.77474996125918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c582b1189633%3A0x559475cc463361f0!2sTamil%20Nadu!5e0!3m2!1sen!2sin!4v1618391770630!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            Facts of Tamil Nadu
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                   Tamil Nadu inhibits many forms of classical arts, classical music, and classical literature.
                                </li>
                                <li>
                                   The enormous area of Tamil Nadu makes it the 11th largest state in India and in terms of population. 
                                </li>
                                <li>
                                   Tamil Nadu is also the second largest contributor to India’s GDP. 
                                </li>
                                <li>
                                   One of the oldest known languages is said to be Latin. But as it’s not being in use anymore, Tamil language grabs the spot of oldest living language. 
                                </li>
                                <li>
                                   Tamilians prefer to grow rice in their filed rather than wheat and hence their staple food is rice and not chapattis.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Tamil Nadu.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="tamil.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> State : Tamil Nadu</div>
                    </div>
                    <div class="mySlides">
                        <img src="chennai.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> State's Capital : Chennai</div>
                    </div>
                    <div class="mySlides">
                        <img src="38districts.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> No. of districts of State : 38</div>
                    </div>
                    <div class="mySlides">
                        <img src="chennaii.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> State's largest district : Chennai </div>
                    </div>
                    <div class="mySlides">
                        <img src="tamilenglish.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> State's official language : Tamil & English</div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <!-- LAST SECTION -->
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title" style="color:black;">
                            What are you waiting for??
                        </h1>
                        <p style="line-height:1.2em; margin-top:-100px; color:black">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            If you are fond of temples and architecture, food, movies and classical Indian dance and Carnatic music, then Tamil Nadu is definitely the place for you, and it is waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text"> <p style="font-weight:1000; font-style:italic; color:black; margin-top:-70px;"> Pollachi - Tamil Nadu </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>