
@{
    ViewBag.Title = "AndamanAndNicobarIslands";
}
<link href="~/Script/StatesCss/andaman.css" rel="stylesheet" />
<div class="main-container">
    <!-- BACKGROUND IMAGE -->
    <div id="top-section-main">

        <div id="top-section-content">
            <h1> Elephant Beach </h1>
            <h2> Andaman and Nicobar Islands </h2>
        </div>
    </div>
    <!-- PLACES TO VISIT SECTION -->
    <div id="feature-section">
        <h1 class="feature-section-title"> The top places to visit in <i>Andaman and Nicobar Islands</i></h1>
        <div class="feature-content">
            <div class="cols-3">
                <div class="cols-3-big">
                    <img src="~/Image/StateImage/AndamanAndNicobarIslands/cellularJail.jpg">
                    <h3> Cellular Jail </h3>
                    <p> A massive three storeyed structure of Cellular Jail was constructed to incarcerate political prisoners in isolation and physical hardships in order to suppress freedom struggle against British colonial rulers. </p>
                </div>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/AndamanAndNicobarIslands/radhanagarBeach.jpg">
                <h3> Radhanagar Beach </h3>
                <p> Radhanagar Beach is famous for its crystal clear waters and pristine white sand. To witness the grandeur of the tropical Andaman in its purest form, you must head to Radhanagar Beach for a few hours and indulge in all that nature has to offer.</p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/AndamanAndNicobarIslands/rossIsland.jpg">
                <h3> Ross Island </h3>
                <p> This place, back in earlier times, was famous as the headquarters of the British Colony in the state. As of now, the island is under the Indian Navy's control, and houses numerous churches and a small museum, Smritika, which reminisces the British way of life.</p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/AndamanAndNicobarIslands/scubaDiving.jpg">
                <h3> Scuba Diving </h3>
                <p> Scuba Diving in Andaman is one of the best diving experiences you can have in India. The sport offers swimming across colorful corals, beautifully patterned fishes, and seabed gardens in absolutely silent waters.</p>
            </div>
        </div>
    </div>
    <!-- MAP SECTION -->
    <div id="showcase1-container">
        <div class="showcase">
            <div class="cols-2">
                <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4020905.2920951354!2d91.00582723125012!3d10.207809888117476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3064a00f2b650ff3%3A0xce80055648fccb2c!2sAndaman%20and%20Nicobar%20Islands!5e0!3m2!1sen!2sin!4v1618410621151!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cols-2">
                <div class="feature-text">
                    <h1 class="section-title">
                        Facts of Andaman and <div style="padding-left:40px;">Nicobar Islands</div>
                    </h1>
                    <p class="section-content">
                        <ul class="section-content-list">
                            <li>
                                The names ‘Andaman’ and ‘Nicobar’ are taken from the Malay Language.
                            </li>
                            <li>
                                The most widely spoken language on the islands is not Andamanese or Nicobarese.
                            </li>
                            <li>
                                Katchal Island received the first sun rise of the millenium.
                            </li>
                            <li>
                                The largest sea turtles in the world nest here.
                            </li>
                            <li>
                                North Sentinel Island is home to one of the most isolated paleolithic tribes of the world.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="feature-section2">
        <h1 class="feature-section2-title">
            More about <i>Andaman and Nicobar Islands.. </i>  <br><br>
        </h1>
        <div class="slideshow">
            <div class="mySlides">
                <img src="~/Image/StateImage/AndamanAndNicobarIslands/andaman.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> Union territory : Andaman and Nicobar Islands</div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/AndamanAndNicobarIslands/portblair.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> Territory's Capital : Port Blair</div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/AndamanAndNicobarIslands/3districts.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> No. of districts of Territory : 3</div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/AndamanAndNicobarIslands/portblairr.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> Territory's largest district : Port Blair </div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/AndamanAndNicobarIslands/hindienglish.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> Territory's official language : Hindi & English</div>
            </div>
        </div>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
        <br><br>
        <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
        <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
        </script>
    </div>
    <!-- LAST SECTION -->
    <br><br><br><br><br>
    <!-- LAST SECTION -->
    <div id="call-to-action">
        <div class="showcase">
            <div class="cols-1">
                <h1 class="action-title">
                    What are you waiting for??
                </h1>
                <p style="line-height:1.2em; margin-top: -140px;">
                    Book your tickets, pack your bags and
                    Get.. Set.. GO!!
                    Various adventures of Andaman and Nicobar Islands is waiting for you!!
                </p>
                <P>
                    <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                </P>
                <div class="text"> <p style="font-weight:1000; font-style:italic"> Evening View - Katchal Island - Andaman and Nicobar Islands </p></div>
            </div>
        </div>
    </div>
</div>