
@{
    ViewBag.Title = "Maharashtra";
}
<link href="~/Script/StatesCss/maharashtra.css" rel="stylesheet" />
<div class="main-container">
    <!-- BACKGROUND IMAGE -->
    <div id="top-section-main">

        <div id="top-section-content">
            <h1> Lonavala </h1>
            <h2> Maharashtra </h2>
        </div>
    </div>
    <!-- PLACES TO VISIT SECTION -->
    <div id="feature-section">
        <h1 class="feature-section-title"> The top places to visit in <i>Maharashtra</i></h1>
        <div class="feature-content">
            <div class="cols-3">
                <img src="~/Image/StateImage/Maharashtra/pune.jpg">
                <h3> Pune </h3>
                <p> Called “Queen of the Deccan,” Pune is the cultural capital of the Maratha peoples. The city first gained importance as the capital of the Bhonsle Marathas in the 17th century. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Maharashtra/nagpur.jpg">
                <h3> Nagpur </h3>
                <p> It is famous for Nagpur oranges and is sometimes known as the Orange City for being a major trade center of oranges cultivated in large part of the region. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Maharashtra/mahabaleshwar.jpg">
                <h3> Mahabaleshwar </h3>
                <p> Once the summer capital of Bombay during the British Raj, Mahabaleshwar is famous for its rivers, ancient temples, waterfalls, evergreen dense forests, stunning cascades, majestic peaks and valleys.</p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Maharashtra/alibag.jpg">
                <h3> Alibag </h3>
                <p>Famous for its beaches, Alibaug also offers water and adventure sports. The main beaches for water sports are Mandwa beach, Nagaon beach and Alibaug beach.</p>
            </div>
        </div>
    </div>
    <!-- MAP SECTION -->
    <div id="showcase1-container">
        <div class="showcase">
            <div class="cols-2">
                <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7736979.846218463!2d72.2746920913604!3d18.761477713688322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcfc41e9c9cd6f9%3A0x1b2f22924be04fb6!2sMaharashtra!5e0!3m2!1sen!2sin!4v1618307326097!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cols-2">
                <div class="feature-text">
                    <h1 class="section-title">
                        Facts of Maharashtra
                    </h1>
                    <p class="section-content">
                        <ul class="section-content-list">
                            <li>
                                Maharashtra has the longest road network in India with a length over 2,67,500 kms.
                            </li>
                            <li>
                                The houses in Shani Shingnapur has no doors, the people believes whoever steals anything will face the consequences by God Shani Maharaj.
                            </li>
                            <li>
                                Mumbai is the dream city of people who wants to pursue their career in acting, because this place has the highest number of production houses in India.
                            </li>
                            <li>
                                Pune is the I.T. hub of Maharashtra and is one of the biggest I.T. city.
                            </li>
                            <li>
                                Maharashtra has the largest number of metropolitan cities and the fastest developing state of India.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- LAST SECTION -->
    <div id="call-to-action">
        <div class="showcase">
            <div class="cols-1">
                <h1 class="action-title" style="color:white;">
                    What are you waiting for??
                </h1>
                <p style="line-height:1.2em; margin-top:-100px; color:white;">
                    Book your tickets, pack your bags and
                    Get.. Set.. GO!!
                    Fond of natural beauty and cultural hesitages, then Maharashtra is the place for you, and it is waiting for you!!
                </p>
                <P>
                    <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                </P>
                <div class="text"> <p style="font-weight:1000; font-style:italic; color:white; margin-top:70px;"> Mumbai - Maharashtra </p></div>
            </div>
        </div>
    </div>
</div>

