
@{
    ViewBag.Title = "Manipur";
}
<link href="~/Script/StatesCss/manipur.css" rel="stylesheet" />
<div class="main-container">
    <!-- BACKGROUND IMAGE -->
    <div id="top-section-main">

        <div id="top-section-content">
            <h1> Khongjom </h1>
            <h2> Manipur </h2>
        </div>
    </div>
    <!-- PLACES TO VISIT SECTION -->
    <div id="feature-section">
        <h1 class="feature-section-title"> The top places to visit in <i>Manipur</i></h1>
        <div class="feature-content">
            <div class="cols-3">
                <img src="~/Image/StateImage/Manipur/Bishnupur.jpg">
                <h3> Bishnupur </h3>
                <p> It is interesting because of its antiquity and artchitectural design which was influenced by Chinese style. Bishnupur is also known for its stoneware production. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Manipur/Ukhrul.jpg">
                <h3> Ukhrul </h3>
                <p> Ukhrul is popular for its festivities which has attracted tourists over the year. Ukhrul is also best known for the Shirui Lily (Lilium Mackliniae Sealy), which is found in its natural habitat on the peak of Shirui Kashong. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Manipur/Churachandpur.jpg">
                <h3> Churachandpur </h3>
                <p> Locally, the town is called Lamka, meaning the 'place situated at a road junction'. The word Lamka is derived from the Manipuri words, 'Lam' meaning path and 'Ka' meaning junction. The district is beautiful as it is surrounded by small hills and narrow valleys.</p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Manipur/Senapati.jpg">
                <h3> Senapati </h3>
                <p>Home to the Mao tribe of Nagaland, this hill station is also considered as the 'Gateway to Manipur'. Renowned as Mao Gate, for its strategic location, it is perfect for shopping from various South East Asian countries including Myanmar.</p>
            </div>
        </div>
    </div>
    <!-- MAP SECTION -->
    <div id="showcase1-container">
        <div class="showcase">
            <div class="cols-2">
                <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1855020.5579883703!2d92.73635119907995!3d24.758205100808535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3749265bf16390db%3A0x8cc1691ae0a829af!2sManipur!5e0!3m2!1sen!2sin!4v1618309172421!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cols-2">
                <div class="feature-text">
                    <h1 class="section-title">
                        Facts of Manipur
                    </h1>
                    <p class="section-content">
                        <ul class="section-content-list">
                            <li>
                                Manipur is one of the north-eastern sister states where Inner Line Permit is required. The Inner Line Permit is an official government document which allows travellers to visit a protected area.
                            </li>
                            <li>
                                Manipur earned fame in the ancient text Mahabharata as the princess of this kingdom, Chitrangada, was one of the wives of the Pandava warrior-prince Arjun.
                            </li>
                            <li>
                                Manipur has the oldest polo ground in the world at Imphal’s Mapal Kangjeibung.
                            </li>
                            <li>
                                The local mothers who run the small shops at Manipur’s all-women market are referred to as Imas in Manipur.
                            </li>
                            <li>
                                Just like Kashmir, Manipur also has a reputation of being Gandharva-Desa.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- LAST SECTION -->
    <div id="call-to-action">
        <div class="showcase">
            <div class="cols-1">
                <h1 class="action-title" style="color:white;">
                    What are you waiting for??
                </h1>
                <p style="line-height:1.2em; margin-top:-100px; color:white;">
                    Book your tickets, pack your bags and
                    Get.. Set.. GO!!
                    Manipur is called as Jewel of India, and one should definitely visit this beautiful place and it is waiting for you!!
                </p>
                <P>
                    <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                </P>
                <div class="text"> <p style="font-weight:1000; font-style:italic; color:white; margin-top:70px;"> Imphai - Manipur </p></div>
            </div>
        </div>
    </div>
</div>

