
@{
    ViewBag.Title = "Meghalaya";
}
<link href="~/Script/StatesCss/meghalaya.css" rel="stylesheet" />
<div class="main-container">
    <!-- BACKGROUND IMAGE -->
    <div id="top-section-main">

        <div id="top-section-content">
            <h1> Nongpoh </h1>
            <h2> Meghalaya </h2>
        </div>
    </div>
    <!-- PLACES TO VISIT SECTION -->
    <div id="feature-section">
        <h1 class="feature-section-title"> The top places to visit in <i>Meghalaya</i></h1>
        <div class="feature-content">
            <div class="cols-3">
                <img src="~/Image/StateImage/Meghalaya/mawsynram.jpg">
                <h3> Mawsynram </h3>
                <p> Famous for being the wettest region in the world, Mawsynram holds a Guinness World Record for receiving almost 26,000 mm of rainfall back in the year 1985. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Meghalaya/tura.jpg">
                <h3> Tura </h3>
                <p> Tura is a cultural and administrative centre of the Garo tribe. To visit popular tourist destinations such as Balpakram, Nokrek and Siju Cave, one needs to pass through this town. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Meghalaya/jowai.jpg">
                <h3> Jowai </h3>
                <p> Due to its high altitude of 1365 m above sea level, Jowai experiences warm summers with cool to chilly winters. Jowai is an important business and education hub for the entire district.</p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Meghalaya/mawsmaicave.png">
                <h3> Mawsmai Cave </h3>
                <p>Mawsmai Caves are formed out of limestone and enjoy the distinction of being the only caves in Meghalaya that are lit enough so that the tourists can enjoy its natural formations.</p>
            </div>
        </div>
    </div>
    <!-- MAP SECTION -->
    <div id="showcase1-container">
        <div class="showcase">
            <div class="cols-2">
                <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1842674.2877318733!2d90.1894588486079!3d25.57255777334482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37507e8f34bd207f%3A0xf5ef6117f496d6e!2sMeghalaya!5e0!3m2!1sen!2sin!4v1618310129489!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cols-2">
                <div class="feature-text">
                    <h1 class="section-title">
                        Facts of Meghalaya
                    </h1>
                    <p class="section-content">
                        <ul class="section-content-list">
                            <li>
                                The name Meghalaya means ‘abode of clouds’ in Sanskrit. Megha means ‘clouds’ and laya means ‘adobe’.
                            </li>
                            <li>
                                The British Indian government nicknamed it the ‘Scotland of the East’.
                            </li>
                            <li>
                                Meghalaya was previously part of the Assam state of India.
                            </li>
                            <li>
                                Meghalaya receives a huge amount of rainfall every year and is the wettest region of India.
                            </li>
                            <li>
                                Geographically, the state is bounded to the south by Bangladesh’s divisions of Mymensingh and Sylhet, to the west by Bangladesh’s division of Rangpur, and to the north and east by the Indian state of Assam.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- LAST SECTION -->
    <div id="call-to-action">
        <div class="showcase">
            <div class="cols-1">
                <h1 class="action-title" style="color:black;">
                    What are you waiting for??
                </h1>
                <p style="line-height:1.2em; margin-top:-100px; color:black;">
                    Book your tickets, pack your bags and
                    Get.. Set.. GO!!
                    Meghalaya is heaven for mountain and snow lovers, come soon it is waiting for you!!
                </p>
                <P>
                    <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                </P>
                <div class="text"> <p style="font-weight:1000; font-style:italic; color:white; margin-top:70px;"> Shillong - Meghalaya </p></div>
            </div>
        </div>
    </div>
</div>

