
@{
    ViewBag.Title = "Mizoram";
}
<link href="~/Script/StatesCss/mizoram.css" rel="stylesheet" />
<div class="main-container">
    <!-- BACKGROUND IMAGE -->
    <div id="top-section-main">

        <div id="top-section-content">
            <h1> Saiha </h1>
            <h2> Mizoram </h2>
        </div>
    </div>
    <!-- PLACES TO VISIT SECTION -->
    <div id="feature-section">
        <h1 class="feature-section-title"> The top places to visit in <i>Mizoram</i></h1>
        <div class="feature-content">
            <div class="cols-3">
                <img src="~/Image/StateImage/Mizoram/champai.jpg">
                <h3> Champai </h3>
                <p> Champhai - Commercial Gateway To Myanmar. Overlooking the majestic Myanmar Hills, adorned with culture and tradition, popularly known as the 'Rice Bowl of Mizoram'. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Mizoram/mamit.jpg">
                <h3> Mamit </h3>
                <p> The Mamit district is the fourth largest district of the state of Mizoram. The Dampa Tiger Reserve, among the famous natural protected regions of India, is a popular tourist attraction here. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Mizoram/kolasib.jpg">
                <h3> Kolasib </h3>
                <p> It is the longest river (185km) in Mizoram and is surrounded by lush greenery on all sides making it the most beautiful attraction in Kolasib. Locally also known as Katakha or Dhaleswari river.</p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Mizoram/reiek.jpg">
                <h3> Reiek </h3>
                <p>Reiek is known for its sweeping mountain vistas and quaint traditional huts of the Mizo sub-tribes.</p>
            </div>
        </div>
    </div>
    <!-- MAP SECTION -->
    <div id="showcase1-container">
        <div class="showcase">
            <div class="cols-2">
                <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1877206.2771023805!2d91.72661067508747!3d23.227852983259346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374d0bd19f3f36f7%3A0xb1f62692a3d5e474!2sMizoram!5e0!3m2!1sen!2sin!4v1618325031488!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cols-2">
                <div class="feature-text">
                    <h1 class="section-title">
                        Facts of Mizoram
                    </h1>
                    <p class="section-content">
                        <ul class="section-content-list">
                            <li>
                                Mizoram became a part of India only 33 years ago.
                            </li>
                            <li>
                                Tourists travelling to Mizoram will need an inner line permit.
                            </li>
                            <li>
                                Mizoram is the ideal destination for bird watchers and wildlife photographers.
                            </li>
                            <li>
                                Mizoram is the second most literate state in India.
                            </li>
                            <li>
                                The Tropic of Cancer passes through Mizoram.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- LAST SECTION -->
    <div id="call-to-action">
        <div class="showcase">
            <div class="cols-1">
                <h1 class="action-title" style="color:white;">
                    What are you waiting for??
                </h1>
                <p style="line-height:1.2em; margin-top:-100px; color:white;">
                    Book your tickets, pack your bags and
                    Get.. Set.. GO!!
                    If you are a photographer by profession, then Mizoram is definitely waiting for you!!
                </p>
                <P>
                    <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                </P>
                <div class="text"> <p style="font-weight:1000; font-style:italic; color:white; margin-top:70px;"> Aizawl - Mizoram </p></div>
            </div>
        </div>
    </div>
</div>

