
@{
    ViewBag.Title = "Nagaland";
}
<link href="~/Script/StatesCss/nagaland.css" rel="stylesheet" />
<div class="main-container">
    <!-- BACKGROUND IMAGE -->
    <div id="top-section-main">

        <div id="top-section-content">
            <h1> Dzukou Valley </h1>
            <h2> Nagaland </h2>
        </div>
    </div>
    <!-- PLACES TO VISIT SECTION -->
    <div id="feature-section">
        <h1 class="feature-section-title"> The top places to visit in <i>Nagaland</i></h1>
        <div class="feature-content">
            <div class="cols-3">
                <img src="~/Image/StateImage/Nagaland/dimapur.jpg">
                <h3> Dimapur </h3>
                <p> Dimapur was the center of action between British India and Imperial Japan. When it comes to tourists attractions, the city is predominantly known for its 13th-century Kachari Ruins, which is a must visit in Dimapur. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Nagaland/kohima.jpg">
                <h3> Kohima </h3>
                <p> Originally known as Kewhira, Kohima was founded in 1878 when the British Empire established its headquarters of the then Naga Hills. It officially became the capital after the state of Nagaland was inaugurated in 1963. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Nagaland/mon.jpg">
                <h3> Mon </h3>
                <p> Mon is the home of the Konyak Nagas, the famous headhunters of Nagaland. The Konyak Nagas are known as experienced and skilled craftsmen and artists.</p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Nagaland/mokokchung.jpg">
                <h3> Mokokchung </h3>
                <p> Mokokchung is known as the 'intellectual and cultural capital' of Nagaland. Starting from its inception in the 19th century, through the whole of the 20th century and till the present date, people from Mokokchung have led the state of Nagaland in various fields of academics and culture.</p>
            </div>
        </div>
    </div>
    <!-- MAP SECTION -->
    <div id="showcase1-container">
        <div class="showcase">
            <div class="cols-2">
                <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1834278.897201435!2d93.16463659910568!3d26.112756955434847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3746210934c63d31%3A0x1f2df33a89cc3efd!2sNagaland!5e0!3m2!1sen!2sin!4v1618326009213!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cols-2">
                <div class="feature-text">
                    <h1 class="section-title">
                        Facts of Nagaland
                    </h1>
                    <p class="section-content">
                        <ul class="section-content-list">
                            <li>
                                Tourists from other states of India are not allowed to enter the state of Nagaland without an ILP, which is issued by the state’s government.
                            </li>
                            <li>
                                Nagaland is undoubtedly a tribal land. Nagaland is famous for being home to 16 prominent tribes along with other sub-tribes.
                            </li>
                            <li>
                                The tribes of Nagaland are rigid about their customs and their social stands too. Interestingly, the Naga shawls are famous as they are a symbolic representation of the social hierarchy prevalent in the state among the different tribes.
                            </li>
                            <li>
                                Nagaland is known as the Land of Festival in India as festivals are held throughout the year
                            </li>
                            <li>
                                Nagaland is also known as the ‘Falcon Capital of the World.’
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- LAST SECTION -->
    <div id="call-to-action">
        <div class="showcase">
            <div class="cols-1">
                <h1 class="action-title" style="color:white;">
                    What are you waiting for??
                </h1>
                <p style="line-height:1.2em; margin-top:-100px; color:white;">
                    Book your tickets, pack your bags and
                    Get.. Set.. GO!!
                    If you are a adventurous person, then Nagaland is definitely waiting for you!!
                </p>
                <P>
                    <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                </P>
                <div class="text"> <p style="font-weight:1000; font-style:italic; color:white; margin-top:70px;"> Tripoto - Nagaland </p></div>
            </div>
        </div>
    </div>
</div>

