
@{
    ViewBag.Title = "Punjab";
}
<link href="~/Script/StatesCss/punjab.css" rel="stylesheet" />
<div class="main-container">
    <!-- BACKGROUND IMAGE -->
    <div id="top-section-main">

        <div id="top-section-content">
            <h1> Amritsar </h1>
            <h2> Punjab </h2>
        </div>
    </div>
    <!-- PLACES TO VISIT SECTION -->
    <div id="feature-section">
        <h1 class="feature-section-title"> The top places to visit in <i>Punjab</i></h1>
        <div class="feature-content">
            <div class="cols-3">
                <img src="~/Image/StateImage/Punjab/patiala.jpg">
                <h3> Patiala </h3>
                <p> Patiala is the fourth largest city in the state of Punjab. An erstwhile royal state, Patiala is still reminiscent of its past glories. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Punjab/ludhiana.jpg">
                <h3> Ludhiana </h3>
                <p> Ludhiana is also famous for its industry of shawls and stoles and satisfies the demand of major domestic and international brands. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Punjab/bhatinda.jpg">
                <h3> Bathinda </h3>
                <p> Bathinda named after 'The Kings of Bhati Rajput', the clan that ruled Punjab in the 6th century, is one of the oldest cities in Punjab. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Punjab/anandpur.jpg">
                <h3> Anandpur Sahib</h3>
                <p> Located near the Sutlej River, the city is one of the most sacred places in Sikhism, being the place where the last two Sikh Gurus lived, Guru Teg Bahadur Ji and Guru Gobind Singh Ji.</p>
            </div>
        </div>
    </div>
    <!-- MAP SECTION -->
    <div id="showcase1-container">
        <div class="showcase">
            <div class="cols-2">
                <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502071.392632585!2d73.15649719513702!3d30.998611583787355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964aa569e7355%3A0x8fbd263103a38861!2sPunjab!5e0!3m2!1sen!2sin!4v1618328309726!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cols-2">
                <div class="feature-text">
                    <h1 class="section-title">
                        Facts of Punjab
                    </h1>
                    <p class="section-content">
                        <ul class="section-content-list">
                            <li>
                                Punjab is the land of chivalry and cheer. It is also a state that offers the finger-licking food.
                            </li>
                            <li>
                                Punjab means the land of five rivers. The word has been derived from the Persian words panj (five) and aab (water).
                            </li>
                            <li>
                                Chandigarh is India’s first planned city after Independence. Its layout was designed for the people of west Punjab who had migrated after Independence.
                            </li>
                            <li>
                                According to the World Book of Records, the United Kingdom, the Golden Temple in Amritsar is the most visited tourist place in the world.
                            </li>
                            <li>
                                In the olden days, Punjab was known as Trigarta. It was a kingdom as mentioned in the ancient scripture Mahabharata.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- LAST SECTION -->
    <div id="call-to-action">
        <div class="showcase">
            <div class="cols-1">
                <h1 class="action-title" style="color:white;">
                    What are you waiting for??
                </h1>
                <p style="line-height:1.2em; margin-top:-100px; color:white;">
                    Book your tickets, pack your bags and
                    Get.. Set.. GO!!
                    Fond of ancient temples, then Punjab is definitely waiting for you!!
                </p>
                <P>
                    <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                </P>
                <div class="text"> <p style="font-weight:1000; font-style:italic; color:white; margin-top:-70px;"> Rangla Haveli - Punjab </p></div>
            </div>
        </div>
    </div>
</div>

