
@{
    ViewBag.Title = "Tripura";
}
<link href="~/Script/StatesCss/tripura.css" rel="stylesheet" />
<div class="main-container">
    <!-- BACKGROUND IMAGE -->
    <div id="top-section-main">

        <div id="top-section-content">
            <h1> Agartala </h1>
            <h2> Tripura </h2>
        </div>
    </div>
    <!-- PLACES TO VISIT SECTION -->
    <div id="feature-section">
        <h1 class="feature-section-title"> The top places to visit in <i>Tripura</i></h1>
        <div class="feature-content">
            <div class="cols-3">
                <img src="~/Image/StateImage/Tripura/melaghar.jpg">
                <h3> Melaghar </h3>
                <p> Melaghar also known for its bright lights during this Puja where the entire town is lit up beautifully. All the people of Tripura knows that in term of Maa Kali Puja, Melaghar is one of the best city for its big pandals & crowd. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Tripura/kailashahar.jpg">
                <h3> Kailashahar </h3>
                <p> Kailashahar is the Ancient Tripuri Kingdom. Closely associated with Unakoti (known for centuries old stone and rock images), Kailashahar was the ancient capital of the Tripuri Kingdom.</p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Tripura/unakoti.jpg">
                <h3> Unakoti </h3>
                <p> Home to the largest bas relief sculptures in India, Unakoti is famous for its massive stone and rock-cut sculptures that have been carved out from the hillside. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/Tripura/tripuragovmuseum.jpg">
                <h3> Tripura Government Museum </h3>
                <p> It is northeast India's largest museum with a "national perspective while remaining focused on Tripura and northeast India". Sandstone sculptures of the Pilak site, which represents a heterodox culture of Hinduism and Buddhism of 9th to 13th century, are on display at the Tripura Government Museum. </p>
            </div>
        </div>
    </div>
    <!-- MAP SECTION -->
    <div id="showcase1-container">
        <div class="showcase">
            <div class="cols-2">
                <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1870064.8241020874!2d90.62130812519278!3d23.73060075242141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3753b566f6c1a285%3A0x14dd7ae7453fff74!2sTripura!5e0!3m2!1sen!2sin!4v1618394316234!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cols-2">
                <div class="feature-text">
                    <h1 class="section-title">
                        Facts of Tripura
                    </h1>
                    <p class="section-content">
                        <ul class="section-content-list">
                            <li>
                                The oldest known name of Tripura is Kirat Desh.
                            </li>
                            <li>
                                It became Union territory on 1 Nov 1957 and became full fledged state on 21 Jan 1972.
                            </li>
                            <li>
                                There were two main regions of the state during British rule – Tiperra District and Hill Tiperra. Tiperra District now comes in Bangladesh while most of the region of present Tripura is of Hill Tiperra.
                            </li>
                            <li>
                                Tripura is bounded by 2 states – Mizoram in east and Assam in northeast. It is surrounded by Bangladesh from north, west and south.
                            </li>
                            <li>
                                The sericulture industry is growing fast in Tripura.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="feature-section2">
        <h1 class="feature-section2-title">
            More about <i>Tripura.. </i>  <br><br>
        </h1>
        <div class="slideshow">
            <div class="mySlides">
                <img src="~/Image/StateImage/Tripura/tripura.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> State : Tripura</div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/Tripura/agartalaa.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> State's Capital : Agartala</div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/Tripura/8districts.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> No. of districts of State : 8</div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/Tripura/agartaala.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> State's largest district : Agartala </div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/Tripura/bengalienglishkokborok.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> State's official language : Bengali, English & Kokborok</div>
            </div>
        </div>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
        <br><br>
        <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
        <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
        </script>
    </div>
    <!-- LAST SECTION -->
    <br><br><br><br><br>
    <!-- LAST SECTION -->
    <div id="call-to-action">
        <div class="showcase">
            <div class="cols-1">
                <h1 class="action-title" style="color:white;">
                    What are you waiting for??
                </h1>
                <p style="line-height:1.2em; margin-top:-100px; color:white;">
                    Book your tickets, pack your bags and
                    Get.. Set.. GO!!
                    If you are fond of handicraft arts, then you will become fond of Tripura too, and it is waiting for you!!
                </p>
                <P>
                    <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                </P>
                <div class="text"> <p style="font-weight:1000; font-style:italic; color:white; margin-top:-70px;"> Dharma Nagar - Tripura </p></div>
            </div>
        </div>
    </div>
</div>


