
@{
    ViewBag.Title = "WestBengal";
}
<link href="~/Script/StatesCss/bengal.css" rel="stylesheet" />
<div class="main-container">
    <!-- BACKGROUND IMAGE -->
    <div id="top-section-main">

        <div id="top-section-content">
            <h1> Mirik </h1>
            <h2> West Bengal </h2>
        </div>
    </div>
    <!-- PLACES TO VISIT SECTION -->
    <div id="feature-section">
        <h1 class="feature-section-title"> The top places to visit in <i>West Bengal</i></h1>
        <div class="feature-content">
            <div class="cols-3">
                <img src="~/Image/StateImage/WestBengal/kolkata.jpg">
                <h3> Kolkata </h3>
                <p> Kolkata, formerly known as Calcutta, is the educational, commercial and cultural centre of the Eastern part of India, and is the third most populous metropolitan city of India.  </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/WestBengal/murshidabad.jpg">
                <h3> Murshidabad </h3>
                <p> The last capital city of independent Bengal before British rule was named after Nawab Murshid Quli Khan, the Dewan of Bengal, Bihar and Orissa. Situated on the banks of the Bhagirathi, it is a city of splendours and is famous for its silk.</p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/WestBengal/darjeeling.jpg">
                <h3> Darjeeling </h3>
                <p>Darjeeling is famous throughout the world for the tea it grows and the great view of Kanchenjunga range of mountains that it offers. It is also known for its richness in cultural & natural heritage and the famous toy train that has been declared a UN heritage. </p>
            </div>
            <div class="cols-3">
                <img src="~/Image/StateImage/WestBengal/kalimpong.jpg">
                <h3> Kalimpong </h3>
                <p>  If you're planning a tour of Darjeeling or Sikkim, then you should definitely add Kalimpong to your travel itinerary. There is a myriad of exciting things you can do here, like paragliding in Kalimpong and climbing Deolo Hill to take in the scenic views of the mountains. </p>
            </div>
        </div>
    </div>
    <!-- MAP SECTION -->
    <div id="showcase1-container">
        <div class="showcase">
            <div class="cols-2">
                <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7446834.300825873!2d83.35153250292188!3d24.30641773509077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fa16ff1397e887%3A0x71543a3dc3e7a20a!2sWest%20Bengal!5e0!3m2!1sen!2sin!4v1618397579600!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cols-2">
                <div class="feature-text">
                    <h1 class="section-title">
                        Facts of West Bengal
                    </h1>
                    <p class="section-content">
                        <ul class="section-content-list">
                            <li>
                                The land of bookworms Kolkata, or Calcutta, as still lovingly called by the Bengalis, College Street or ‘Boi Para’ (Colony of Books) is the largest book market in India.
                            </li>
                            <li>
                                Largest book fair in Asia and third largest book fair in the world is the Kolkata Book Fair.
                            </li>
                            <li>
                                Contrary to the rickshaws that we ride in several parts of India, these are Calcutta’s own unique rickshaws.
                            </li>
                            <li>
                                The literacy rate of Kolkata is 87.54% according to the Census 2011. This figure is way above the national average of 74.04%.
                            </li>
                            <li>
                                The National Library in Kolkata is the nation’s largest public library.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="feature-section2">
        <h1 class="feature-section2-title">
            More about <i>West Bengal.. </i>  <br><br>
        </h1>
        <div class="slideshow">
            <div class="mySlides">
                <img src="~/Image/StateImage/WestBengal/westbengal.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> State : West Bengal</div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/WestBengal/kolkataa.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> State's Capital : Kolkata</div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/WestBengal/23districts.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> No. of districts of State : 23</div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/WestBengal/kolkaata.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> State's largest district : Kolkata </div>
            </div>
            <div class="mySlides">
                <img src="~/Image/StateImage/WestBengal/bengali.jpg" width="900" height="450" style="width:100%;">
                <div class="caption"> State's official language : Bengali</div>
            </div>
        </div>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
        <br><br>
        <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
        <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
        </script>
    </div>
    <!-- LAST SECTION -->
    <br><br><br><br><br>
    <!-- LAST SECTION -->
    <div id="call-to-action">
        <div class="showcase">
            <div class="cols-1">
                <h1 class="action-title" style="color:white;">
                    What are you waiting for??
                </h1>
                <p style="line-height:1.2em; margin-top:-100px; color:white;">
                    Book your tickets, pack your bags and
                    Get.. Set.. GO!!
                    If you haven't seen the Hooghly bridge in Kolkata, then what have you seen in West Bengal, come fast it's waiting for you!!
                </p>
                <P>
                    <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                </P>
                <div class="text"> <p style="font-weight:1000; font-style:italic; color:white; margin-top:-70px;"> Hooghly bridge - Kolkata - West Bengal </p></div>
            </div>
        </div>
    </div>
</div>

