<!DOCTYPE html>
<html>
    <head>
        <title>
            Ladakh
        </title>
        <link rel="stylesheet" href="ladakh.css">
    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Khardung La </h1>
                    <h2> Ladakh </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Ladakh</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                        <img src="magneticHill.jpg"> 
                        <h3> Magnetic Hill </h3>
                        <p> Magnet Hill is a "Cyclops hill" located near Leh in Ladakh, India. The layout of the area and surrounding slopes create the optical illusion of a hill. </p>
                    </div>    
                    <div class="cols-3">   
                        <img src="pangogLake.jpg"> 
                        <h3> Pangong Lake </h3>
                        <p> Pangong Tso is popular for its changing colour ability. Its colour changes from shades of blue to green to red. It is one of the highest altitude lakes in the world that is filled with saline water. It is located at an altitude of 4350 m above the sea level.</p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="shantiStupa.jpg"> 
                        <h3> Shanti Stupa </h3>
                        <p> The Shanti Stupa features the photograph of the current Dalai Lama with the relics of the Buddha at its base. The Shanti Stupa was built to promote world peace and prosperity and to commemorate 2500 years of Buddhism.</p>
                    </div>
                    <div class="cols-3">  
                        <img src="zanskarValley.jpg"> 
                        <h3> Zanskar Valley </h3>
                        <p>  Also known locally by the name of Zahar, Zanskar is a small district in Kargil, located in the eastern section of Ladakh. Zanskar Valley is eternally famous for its high snow capped mountains and surrounding landscape, featuring geographical attributes that are unique to this region. </p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3390909.988089269!2d75.06264517083453!3d33.90418851562908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38fd86bce37d7139%3A0xc6c2990fdad28ac7!2sLadakh!5e0!3m2!1sen!2sin!4v1618416126462!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            Facts of Ladakh 
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                    Ladakh has the largest telescope in Asia.
                                </li>
                                <li>
                                    It is a land where gravity fails.
                                </li>
                                <li>
                                    It has the highest bridge in the world.
                                </li>
                                <li>
                                    It is a land of the rare twin-humped Bactrian camels.
                                </li>
                                <li>
                                    It is a land of peculiar practices.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Ladakh.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="ladakhh.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Union territory : Ladakh</div>
                    </div>
                    <div class="mySlides">
                        <img src="kargil.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's Capital : Kargil</div>
                    </div>
                    <div class="mySlides">
                        <img src="2districts.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> No. of districts of Territory : 2 </div>
                    </div>
                    <div class="mySlides">
                        <img src="leh.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's largest district : Leh </div>
                    </div>
                    <div class="mySlides">
                        <img src="hindienglish.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's official language : Hindi & English </div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <!-- LAST SECTION -->
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title">
                            What are you waiting for??
                        </h1>
                        <p style="line-height:1.2em;">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            The beautiful roads and mountain peaks of Ladakh is waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text"> <p style="font-weight:1000; font-style:italic;"> Evening View - Leh Ladakh Beach - Ladakh </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>