<!DOCTYPE html>
<html>
    <head>
        <title>
            Uttarakhand
        </title>
        <link rel="stylesheet" href="uttarakhand.css">
    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Mussoorie </h1>
                    <h2> Uttarakhand </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Uttarakhand</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                        <img src="dehradun.jpg"> 
                        <h3> Dehradun </h3>
                        <p> Dehradun is a notable academic and research hub and is home to Indian Military Academy, Rashtriya Indian Military College, Uttarakhand Ayurveda University, Forest Research Institute, Wadia Institute of Himalayan Geology, and Indira Gandhi National Forest Academy.  </p>
                    </div>    
                    <div class="cols-3">   
                        <img src="rishikesh.jpg"> 
                        <h3> Rishikesh </h3>
                        <p> Rishikesh is primarily famous for its spiritual importance. There are a number of Yoga Ashramas for practicing meditation. Rishikesh is the beginning of the famous Char Dham Yatra (Gangotri, Yamunotri, Kedarnath, Badrinath).</p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="haridwar.jpg"> 
                        <h3> Haridwar </h3>
                        <p>Haridwar is regarded as a holy place for Hindus, hosting important religious events and serving as a gateway to several prominent places of worship. ... Brahma Kund, the spot where the Amrit fell, is located at Har ki Pauri (literally, "footsteps of the Lord") and is considered to be the most sacred ghat of Haridwar. </p>
                    </div>
                    <div class="cols-3">  
                        <img src="valleyofflowers.jpg"> 
                        <h3> Valley of Flowers </h3>
                        <p> Valley of Flowers National Park is an Indian national park, located in North Chamoli and Pithoragarh, in the state of Uttarakhand and is known for its meadows of endemic alpine flowers and the variety of flora. </p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535873.3549417006!2d77.06716694111486!3d30.06549655640928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3909dcc202279c09%3A0x7c43b63689cc005!2sUttarakhand!5e0!3m2!1sen!2sin!4v1618396571943!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            Facts of Uttarakhand
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                   Every eveing at sunset priests perform Ganga Aarti on the banks of river Ganga at Har Ki Pauri, Haridwar.
                                </li>
                                <li>
                                   Tungnath is the highest Lord Shiva temple in the World. 
                                </li>
                                <li>
                                   Jim Corbett National park of Nainital district is oldest national park of India which was established in 1936 for protection of tigers.
                                </li>
                                <li>
                                  The Emblem of Uttarakhand shows mountain ridge with the flow of holy river Ganga and in the mid of mountain peaks is National emblem of India showing Satyamev Jayate.
                                </li>
                                <li>
                                  The two most sacred rivers as per beliefs of hindus Ganga and Yamuna originate from Uttarakhand State. While Ganga originate from Gangotri and Yamuna originates from Yamunotri.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Uttarakhand.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="uttarakhand.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> State : Uttarakhand</div>
                    </div>
                    <div class="mySlides">
                        <img src="dehradunn.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> State's Capital : Dehradun</div>
                    </div>
                    <div class="mySlides">
                        <img src="13districts.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> No. of districts of State : 13</div>
                    </div>
                    <div class="mySlides">
                        <img src="dehraduun.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> State's largest district : Dehradun </div>
                    </div>
                    <div class="mySlides">
                        <img src="hindisanskrit.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> State's official language : Hindi & Sanskrit</div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <!-- LAST SECTION -->
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title" style="color:white;">
                            What are you waiting for??
                        </h1>
                        <p style="line-height:1.2em; margin-top:-100px; color:white;">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            If you are fond of mountain peaks, cold breezes, and ancient temples, then you will become fond of Uttarakhand too, and it is waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text"> <p style="font-weight:1000; font-style:italic; color:white; margin-top:-70px;"> Nainital - Uttarakhand </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>