<!DOCTYPE html>
<html>
    <head>
        <title>
            Puducherry/Pondicherry
        </title>
        <link rel="stylesheet" href="puducherry.css">
    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Auroville </h1>
                    <h2> Puducherry/Pondicherry </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Puducherry/Pondicherry</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                        <img src="aurobindoAshram.jpg"> 
                        <h3> Aurobindo Ashram </h3>
                        <p> The ashram grew out of a small community of disciples who had gathered around Sri Aurobindo after he retired from politics and settled in Pondicherry in 1910. </p>
                    </div>    
                    <div class="cols-3">   
                        <img src="paradiseBeach.jpg"> 
                        <h3> Paradise Beach </h3>
                        <p> One of the most visited beaches in Pondicherry. This beach is famous for its crystal clear water. You can play beach volleyball, you can go swimming, backwater boating and you can even spot dolphins.</p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="promenadeBeach.jpg"> 
                        <h3> Promenade Beach </h3>
                        <p> A popular beach adoring the coastline of the city of Pondicherry, this long 1.2 kilometers is a haven for travelers and beach enthusiasts. The sunrise and sunset views from the beach are especially beautiful and so does the view of moon shimmering on the sea waters.</p>
                    </div>
                    <div class="cols-3">  
                        <img src="serenityBeach.jpg"> 
                        <h3> Serenity Beach </h3>
                        <p> If you're looking for the most romantic Pondicherry Beaches, then Serenity Beach is an idyllic escape to spend some time with your loved one. With a gorgeous view of the shoreline along the Indian Ocean and a number of surfing opportunities, Serenity Beach is definitely one of the best beaches in Pondicherry. </p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62456.81847266243!2d79.77850845341563!3d11.936293134404558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5361ab8e49cfcf%3A0xcc6bd326d2f0b04e!2sPuducherry!5e0!3m2!1sen!2sin!4v1618421355524!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            <div style="padding-left:100px;"> Facts of </div> Puducherry/Pondicherry
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                    Pondicherry has the Third Largest Gandhi Statue in the World.
                                </li>
                                <li>
                                    There aren’t a lot of elephants in this region of India, however, there is an elephant that visits a local temple in Pondicherry.
                                </li>
                                <li>
                                    70 Temples in Pondicherry are Devoted to Lord Ganesha.
                                </li>
                                <li>
                                    The Basilica Sacred Heart of Jesus Church Holds 2000 People.
                                </li>
                                <li>
                                    Pondicherry is Officially Called Puducherry.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Puducherry / Pondicherry.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="puducherryy.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Union territory : Puducherry / Pondicherry</div>
                    </div>
                    <div class="mySlides">
                        <img src="puduucherry.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption">Territory's Capital : Puducherry</div>
                    </div>
                    <div class="mySlides">
                        <img src="4districts.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption" style="color:black;"> No. of districts of Territory : 4 </div>
                    </div>
                    <div class="mySlides">
                        <img src="puuducherry.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption" style="color:black;"> Territory's largest district : Puducherry </div>
                    </div>
                    <div class="mySlides">
                        <img src="frenchtamilenglishmalayalamtelugu.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's official language : French, Tamil, English, Malayalam & Telugu </div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <!-- LAST SECTION -->
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title" style="color:black;">
                            What are you waiting for??
                        </h1>
                        <p style="line-height:1.2em; color:white;">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            The beautiful beaches of Puducherry/Pondicherry is waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text"> <p style="font-weight:1000; font-style:italic; "> Evening View - Auroville Beach - Puducherry/Pondicherry </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>