<!DOCTYPE html>
<html>
    <head>
        <title>
            Haryana
        </title>
        <link rel="stylesheet" href="haryana.css">
    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Kurukshetra </h1>
                    <h2> Haryana </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Haryana</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                        <img src="faridabad.jpg"> 
                        <h3> Faridabad </h3>
                        <p>  Faridabad is a major industrial hub of Haryana. 50% of the income tax collected in Haryana is from Faridabad and Gurgaon.  </p>
                    </div>    
                    <div class="cols-3">   
                        <img src="mornihills.jpg"> 
                        <h3> Morni hills </h3>
                        <p> It is believed that the Morni fort was constructed in 17th century. The fort has been restored for the tourists, but it has not lost its ancient essence. </p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="ambala.jpg"> 
                        <h3> Ambala </h3>
                        <p> Ambala separates the Ganges river network from the Indus river network and is surrounded by two rivers – Ghaggar and Tangri – to the north and to the south. Due to its geographical location, the Ambala district plays an important role in local tourism.</p>
                    </div>
                    <div class="cols-3">  
                        <img src="chandigarh.jpg"> 
                        <h3> Chandigarh </h3>
                        <p> Chandigarh has been called the happiest and cleanest city in India, as evidenced by the surveys conducted in recent years. This self-contained city is a beautiful blend of architecture, natural beauty, wildlife, heritage, and civilization. </p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3564153.221366043!2d73.78175531250251!3d29.26416786392399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390db00b8670400b%3A0x732eaab4aaa6c143!2sHaryana!5e0!3m2!1sen!2sin!4v1618241792696!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            Facts of Haryana
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                    Haryana is a battle-hub. Battle of Panipat and Kurukshetra of Mahabharata were fought here.
                                </li>
                                <li>
                                    First state in India having 100% rural electrification.
                                </li>
                                <li>
                                    The only river which flows through this state is Ghaggar.
                                </li>
                                <li>
                                    Bhivani district of Haryana is largest by area. Faridabad is largest by population.
                                </li>
                                <li>
                                    Haryana was home land to the ancient Indus valley and Vedic civilizations.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Haryana.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="haryana.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State : Haryana</div>
                    </div>
                    <div class="mySlides">
                        <img src="chandigarhh.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State's Capital : Chandigarh</div>
                    </div>
                    <div class="mySlides">
                        <img src="22districts.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> No. of districts of State : 22</div>
                    </div>
                    <div class="mySlides">
                        <img src="faridabadd.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State's largest district : Faridabad </div>
                    </div>
                    <div class="mySlides">
                        <img src="punjabi.jpg" width="950" height="450" style="width:100%;">
                        <div class="caption"> State's official language : Punjabi</div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <!-- LAST SECTION -->
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title">
                            What are you waiting for??
                        </h1>
                        <p style="line-height:1.2em;">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            If you are fond of historic stories and batteles, then Haryana is the place for you and it is waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text" style="margin-top:-50px;"> <p style="color: white; margin-top:10px; font-weight: 1000; font-style:italic;"> Panipat - Haryana </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>