<!DOCTYPE html>
<html>
    <head>
        <title>
            Delhi
        </title>
        <link rel="stylesheet" href="delhi.css">
    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Humayun's Tomb </h1>
                    <h2> Delhi </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Delhi</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                    <div class="cols-3-big">
                        <img src="qutubMinar.jpg"> 
                        <h3> Qutub Minar </h3>
                        <p> Qutub Minar is one of the highest minarets in India with a height of 73 metres. It is a UNESCO World Heritage Site and the tallest brick minaret in the world.  </p>
                    </div>
                    </div>    
                    <div class="cols-3">   
                        <img src="lotusTemple.jpg"> 
                        <h3> Lotus Temple </h3>
                        <p> The Lotus Temple, located in Delhi, India, is a Baháʼí House of Worship that was dedicated in December 1986. Notable for its flowerlike shape, it has become a prominent attraction in the city.</p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="redFort.jpg"> 
                        <h3> Red Fort </h3>
                        <p> Delhi's famous Red Fort is known by that name because of the red stone with which it is built and it is one of the most magnificent palaces in the world. The Mughal emperor, Shah Jahan, after ruling from Agra for eleven years, decided to shift to Delhi and laid the foundation stone of the Red Fort in 1618.</p>
                    </div>
                    <div class="cols-3">  
                        <img src="akshardhamTemple.jpg"> 
                        <h3> Akshardham Temple </h3>
                        <p> The exquisite temple is dedicated to Swaminarayan, an Indian yogi and spiritual soul who existed during the 18th century. Touted as the world's largest comprehensive Hindu temple by the Guinness World Record, Delhi's Akshardham is known for its aesthetic beauty, unique exhibitions, sprawling campus, and tranquillity. </p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d447989.43109421805!2d76.81115956569188!3d28.692116466744153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d047309fff32f%3A0xfc5606ed1b5d46c3!2sDelhi!5e0!3m2!1sen!2sin!4v1618413934948!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            Facts of Delhi
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                   New Delhi and Delhi are two different places.
                                </li>
                                <li>
                                    The Red Fort use to be white in colour.
                                </li>
                                <li>
                                    Delhi is the home to the largest market of spices in Asia.
                                </li>
                                <li>
                                   Delhi is the leading commercial center of India.
                                </li>
                                <li>
                                    The Delhi Transport Corporation along with other public transport services in Delhi is entirely run on Compressed Natural Gas (CNG).
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
             <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Delhi.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="delhii.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Union territory : Delhi</div>
                    </div>
                    <div class="mySlides">
                        <img src="newdelhi.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's Capital : New Delhi</div>
                    </div>
                    <div class="mySlides">
                        <img src="11districts.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> No. of districts of Territory : 11 </div>
                    </div>
                    <div class="mySlides">
                        <img src="newdelhii.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's largest district : New Delhi </div>
                    </div>
                    <div class="mySlides">
                        <img src="hindipunjabi.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's official language : Hindi & Punjabi</div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <!-- LAST SECTION -->
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title">
                            What are you waiting for??
                        </h1>
                        <p style="line-height:1.2em; margin-top: -140px;">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            The beautiful and ancient monuments of Delhi is waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text"> <p style="font-weight:1000; font-style:italic"> Evening View - India Gate - Delhi </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>