<!DOCTYPE html>
<html>
    <head>
        <title>
            Dadra and Nagar haveli and Daman and Diu
        </title>
        <link rel="stylesheet" href="dadra.css">
    </head>
    <body>
        <div class="main-container">
            <!-- BACKGROUND IMAGE -->
            <div id="top-section-main">

                <div id="top-section-content">
                    <h1> Diu Fort </h1>
                    <h2> Dadra and Nagar haveli and Daman and Diu </h2>
                </div>
            </div>
            <!-- PLACES TO VISIT SECTION -->
            <div id="feature-section">
                <h1 class="feature-section-title"> The top places to visit in <i>Dadra and Nagar haveli and Daman and Diu</i></h1>
                <div class="feature-content">
                    <div class="cols-3">
                    <div class="cols-3-big">
                        <img src="daman.jpg"> 
                        <h3> Daman </h3>
                        <p> Daman is a beautiful union territory. Please do not get confused that DAMAN and DIU are together located. They are actually 300+km away from each other. Daman has primarily two beaches, The Devka beach and the Jhamphore Beach. </p>
                    </div>
                    </div>    
                    <div class="cols-3">   
                        <img src="diu.jpg"> 
                        <h3> Diu </h3>
                        <p> Diu has several tourist attractions that attract visitors from around the world. Right from old fortresses, balmy beaches to classic cathedrals, the place has many popular Portuguese colony of the past.</p>  
                    </div>    
                    <div class="cols-3">   
                        <img src="silvassa.jpg"> 
                        <h3> Silvassa </h3>
                        <p> One of the best places for unwinding with Mother Nature is the sleepy township of Silvassa which is a major contrast to the big city life and maddening crowds.</p>
                    </div>
                    <div class="cols-3">  
                        <img src="churchofLadyofSea.jpg"> 
                        <h3> Church of our Lady of the Sea </h3>
                        <p> The Church is enclosed in the fort of Saint Jerome. It is an extension of an ancient chapel, which was constructed in the year 1627. We suggest you visit any of Daman’s church before evening as all of them are usually closed around 5:30 P.M. </p>
                    </div>    
                </div>
            </div>
            <!-- MAP SECTION -->
            <div id = "showcase1-container">
                <div class="showcase">
                    <div class="cols-2">
                        <iframe class="showcase1-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1914740.4965697483!2d70.92701328924973!3d20.39412107357891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7348cc7ff7e77%3A0x224d60bdbf8fd63d!2sDadra%20and%20Nagar%20Haveli%20and%20Daman%20and%20Diu!5e0!3m2!1sen!2sin!4v1618412841802!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="cols-2">
                        <div class="feature-text">
                        <h1 class="section-title">
                            <div style="padding-left:30px;">Facts of Dadra and </div><div>Nagar haveli and Daman</div><div style="padding-left:100px;">and Diu</div> 
                        </h1>
                        <p class="section-content">
                            <ul class="section-content-list">
                                <li>
                                    In Pre-modern and medieval times this land was ruled by Maratha rulers.
                                </li>
                                <li>
                                    Portuguese influence grew up eventually after the loss of Maratha power in 3rd war of Panipat and Portuguese became the sole ruler of Dadra and Nagar Haveli.
                                </li>
                                <li>
                                    This territory was Portuguese colony till 1954 when its control was seized and annexed by India from Portuguese on 2 Aug 1954.
                                </li>
                                <li>
                                    High court of Mumbai serves as the Judiciary of this union territory.
                                </li>
                                <li>
                                    Main tribal groups of this union territory are Kokna, Varli and Dhodia.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feature-section2">
                <h1 class="feature-section2-title">
                    More about <i>Dadra and Nagar Haveli and Daman and Diu.. </i>  <br><br>
                </h1>
                <div class="slideshow">
                    <div class="mySlides">
                        <img src="dadranagarhavelidamandiuu.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Union territory : Dadra and Nagar Haveli and Daman and Diu</div>
                    </div>
                    <div class="mySlides">
                        <img src="dadraa.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's Capital : Daman</div>
                    </div>
                    <div class="mySlides">
                        <img src="3districts.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> No. of districts of Territory : 3 </div>
                    </div>
                    <div class="mySlides">
                        <img src="daadra.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's largest district : Daman </div>
                    </div>
                    <div class="mySlides">
                        <img src="gujratihindi.jpg" width="900" height="450" style="width:100%;">
                        <div class="caption"> Territory's official language : Gujarati & Hindi</div>
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                <br><br>
                <a href="#" class="BookTicketBtn" style="text-align:center; margin:auto;"> BOOK YOUR TICKETS TODAY!! </a>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 2500); // Change image every 2.5 seconds
                    }
                </script>
            </div>
            <!-- LAST SECTION -->
            <br><br><br><br><br>
            <!-- LAST SECTION -->
            <div id="call-to-action">
                <div class="showcase">
                    <div class="cols-1">
                        <h1 class="action-title">
                            What are you waiting for??
                        </h1>
                        <p style="line-height:1.2em; margin-top: -140px;">
                            Book your tickets, pack your bags and
                            Get.. Set.. GO!! 
                            The beautiful islands of Dadra and Nagar haveli and Daman and Diu is waiting for you!!
                        </p>
                        <P>
                        <a href="#" class="BookHotelBtn"> BOOK A HOTEL TODAY!! </a>
                        </P>
                        <div class="text"> <p style="font-weight:1000; font-style:italic"> Evening View - Nagar Haveli - Daman and Nagar haveli and Daman and Diu </p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>